
body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 38px;
    height: 38px;
    padding-right: 10px;
    background-color: #00aaaa;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}